<% if false %>
<%= content_for :head do %>
  <%= javascript_include_tag 'textarea_select_all.js' %>
<% end %>
<% end %>

<div id="browser_favourite">
  <p>
  <% @link = "javascript:void(location.href='http://"+
    Rails.application.config.server_name[:host].to_s+
    "/?myurl='+encodeURIComponent(location.href))" %>
  <%= image_tag "award.png" %>
  <%= link_to Rails.application.config.server_name[:host].to_s, @link %>
  </p>
</div>

<div id="favourite_explanation">
  <%= t(:favourite_explanation) %>
</div>

<div id="container">
<%= render 'form' %>
</div>


