<!DOCTYPE html>
<html>
<head>
  <title>Ushorty</title>
  <%= stylesheet_link_tag    "links" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "textarea_select_all" %>
  <%= csrf_meta_tags %>
  <%= yield :head %>
</head>
<body>

<%= yield %>

<%= render 'shared/footer' %>
</body>
</html>
